.error{
    border-color:red
}
.error-text{
    color:red
}
.chat_item{
    padding: 0.3em 0.5em;
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 1px solid rgb(196, 196, 196);
    cursor:pointer
}
.chat_item:hover{
    background-color: rgba(238, 238, 238, 0.521);
    color: blue;
}
.chat_item:hover img{
    transform:scale(1.1)
}
.selectedFriendinList{
  color: blue;
}
/* messenger  */
.messengerContainer{
  position: relative;
  padding: 5px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1em;
}

@media (max-width: 600px) {
  .messengerContainer{
        grid-template-columns:1fr;
  }
  
}
/* menu button */
.menubtn .hamburger { 
  align-self: flex-end;
}

.menubtn label {
  cursor: pointer;
  color:""
}

.menubtn input[type=checkbox] + label {
  .icon-bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #cccccc;
    margin: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
}

.menubtn input[type=checkbox]:checked + label {
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}
@media  (min-width: 600px) {
  .menubtn {
    display: none;
  }
}
/* for large  screen */
.chatComp{
  /* remove any transforms */
  transform: translate(0);
  background-color: white;
  z-index: 10;
}
@media (max-width: 600px) {
  *{
    font-size: 13px;
  }
  .chatComp{
    position: absolute;
    width: 200px;
    height: 95vh;
    transform: translate(-100%);
  }
  .slideChatComp{
    transform: translate(0%);
  }
  
}

.formContainer{
  max-width: 600px;
  margin: auto;
  width: 60%;
  min-width: 300px;
}
/* in request and find people */
.userCard{
  display:flex;
  margin: auto;
  max-width: 500px;
  width: 60%;
  min-width: 300px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  gap: 15px;
}
.userCard .child{
  display: flex;
  flex-direction: column;
  gap: 3px;
}


.errorMessage{
  color:red
}
.uploadInputField{
  background-color: #cccccc;
  border-radius: 0.3em;
  padding: 0.5em;
}
.imgUploadProfile{
  border-radius: 50%;
}