.error{
    border-color:red
}
.error-text{
    color:red
}
.chat_item{
    padding: 0.3em 0.5em;
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 1px solid rgb(196, 196, 196);
    cursor:pointer
}
.chat_item:hover{
    background-color: rgba(238, 238, 238, 0.521);
    color: blue;
}
.chat_item:hover img{
    transform:scale(1.1)
}
.send{
    background-color:rgb(158, 1, 158) ;
    color: white;
    font-size: 1.1em;
    align-self: flex-end;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
}
.recived{
    background-color: rgba(4, 8, 224, 0.822);
    color: white;
    font-size: 1.1em;
    align-self: flex-start;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
}
.message_container{
    padding: 0.5em;
    height:70vh;
    background-color: rgb(231, 255, 255);
    display: flex;
    flex-direction: column;
    gap:0.8em;
    overflow: scroll;
}
.message_container p{
    margin: 0;
}
.input_container input{
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0.15em solid rgb(124, 124, 124);
}
.input_container{
    display:flex
}
/* messenger  */
.messengerContainer{
  position: relative;
  padding: 5px;
  display: grid;
  grid-template-columns: 200px 1fr;
}

@media (max-width: 600px) {
  .messengerContainer{
        grid-template-columns:1fr;
  }
  
}
/* menu button */
.menubtn .hamburger { 
  align-self: flex-end;
}

.menubtn label {
  cursor: pointer;
  color:""
}

.menubtn input[type=checkbox] + label {
  .icon-bar {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #cccccc;
    margin: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
}

.menubtn input[type=checkbox]:checked + label {
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}
@media  (min-width: 600px) {
  .menubtn {
    display: none;
  }
}
/* for large  screen */
.chatComp{
  /* remove any transforms */
  transform: translate(0);
  background-color: white;
  z-index: 10;
}
@media (max-width: 600px) {
  *{
    font-size: 13px;
  }
  .chatComp{
    position: absolute;
    width: 200px;
    height: 100vh;
    transform: translate(-100%);
  }
  .slideChatComp{
    transform: translate(0%);
  }
  
}

.formContainer{
  max-width: 600px;
  margin: auto;
  width: 60%;
  min-width: 300px;
}
/* in request and find people */
.userCard{
  display:flex;
  margin: auto;
  max-width: 500px;
  width: 60%;
  min-width: 300px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  gap: 15px;
}
.userCard .child{
  display: flex;
  flex-direction: column;
  gap: 3px;
}